http:
  routers:
    adguard-router:
      rule: "Host(`adguard.local`)"
      entryPoints:
        - websecure
      service: adguard-service
      tls: {}

    adguard-sync-router:
      rule: "Host(`adguard-sync.local`)"
      entryPoints:
        - websecure
      service: adguard-sync-service
      tls: {}
    
    homepage-router:
      rule: "Host(`homepage.local`)"
      entryPoints:
        - websecure
      service: homepage-service
      tls: {}
    
    proxmox-router:
      rule: "Host(`pve.local`)"
      entryPoints:
        - websecure
      service: proxmox-service
      tls: {}

    proxmox-backup-router:
      rule: "Host(`pbs.local`)"
      entryPoints:
        - websecure
      service: proxmox-backup-service
      tls: {}
    
    nas-router:
      rule: "Host(`nas.local`)"
      entryPoints:
        - websecure
      service: nas-service
      tls: {}

  services:
    adguard-service:
      loadBalancer:
        servers:
          - url: "http://10.1.10.100:80"

    adguard-sync-service:
      loadBalancer:
        servers:
          - url: "http://10.1.10.93:8081"

    homepage-service:
      loadBalancer:
        servers:
          - url: "http://10.1.10.100:3333"

    proxmox-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.10:8006"

    proxmox-backup-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.250:8007"

    nas-service:
      loadBalancer:
        servers:
          - url: "https://10.1.10.15:5001"