services:
  adguardhome-sync:
    image: ghcr.io/bakito/adguardhome-sync
    command: run
    environment:
      # CRON: Run every 10 minutes (example)
      - CRON=*/10 * * * *
      - RUN_ON_START=true
      
      # Origin (The "Master" instance)
      - ORIGIN_URL=http://10.1.10.100:80
      - ORIGIN_USERNAME=jlcoulter
      - ORIGIN_PASSWORD={{ adguard_password }}
      
      # Replica 1 (The "Backup" instance)
      - REPLICA1_URL=http://10.1.10.93:80
      - REPLICA1_USERNAME=jlcoulter
      - REPLICA1_PASSWORD={{ adguard_password }}
    volumes:
      - /mnt/docker_data/adguard-sync/config/adguardhome-sync.yaml:/config/adguardhome-sync.yaml
    ports:
      - target: 8080
        published: 8081
        protocol: tcp
        mode: ingress
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.adguardsync.rule=Host(`{{ app_metadata['adguard-sync'].hostname }}`)"
        - "traefik.http.routers.adguardsync.entrypoints=websecure"
        - "traefik.http.routers.adguardsync.tls=true"
        - "traefik.http.services.adguardsync.loadbalancer.server.port={{ app_metadata['adguard-sync'].traefik_port }}"
      - "homepage.group=Network"
      - "homepage.name=AdGuard Sync"
      - "homepage.icon=adguard-sync.png"
      - "homepage.href=https://{{ app_metadata['adguard-sync'].hostname }}"
      - "homepage.description=Synchronize AdGuard Home configuration between instances"
    external: true