services:
  server:
    image: docker.gitea.com/gitea:1.26.1
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=db:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD={{ gitea_db_password }}
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.gitea.rule=Host(`{{ app_metadata['gitea'].hostname }}`)"
        - "traefik.http.routers.gitea.entrypoints=websecure"
        - "traefik.http.routers.gitea.tls=true"
        - "traefik.http.services.gitea.loadbalancer.server.port={{ app_metadata['gitea'].traefik_port }}"
        - "homepage.group=Code"
        - "homepage.name=Gitea"
        - "homepage.icon=gitea.png"
        - "homepage.href=https://{{ app_metadata['gitea'].hostname }}"
        - "homepage.description=Self-hosted Git service and code manager"
    networks:
      - gitea
      - traefik-public
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - target: 3000
        published: 3100
        protocol: tcp
        mode: ingress
      - target: 22
        published: 222
        protocol: tcp
        mode: ingress
    depends_on:
      - db

  runner:
    image: gitea/act_runner:latest
    environment:
      - GITEA_INSTANCE_URL=http://10.1.10.211:3100
      - GITEA_RUNNER_REGISTRATION_TOKEN={{ gitea_runner_token }}
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    depends_on:
      - server
    networks:
      - gitea

  db:
    image: docker.io/library/postgres:14
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD={{ gitea_db_password }}
      - POSTGRES_DB=gitea
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    networks:
      - gitea
    volumes:
      - ./postgres:/var/lib/postgresql/data

  databasus:
    image: databasus/databasus:latest
    ports:
      - target: 4005
        published: 4005
        protocol: tcp
        mode: ingress
    volumes:
      - ./databasus-data:/databasus-data
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    networks:
      - gitea

networks:
  gitea:
    external: false
  traefik-public:
    external: true
